/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    background: #f3ebe2;
    color: #4a2f22;
}

/* MENU */
header {
    background: #4a2f22;
    padding: 15px 0;
}

.menu ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

.menu a {
    color: #f3ebe2;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.menu a:hover,
.menu .ativo {
    color: #d9b48f;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
}

/* TEXTO */
.hero .texto {
    max-width: 45%;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    line-height: 1.5;
}

/* ÁREA DO CAFÉ */
.cafe-container {
    position: relative;
    width: 350px;
    height: 350px;
}

/* CÍRCULO */
.circulo {
    width: 320px;
    height: 320px;
    background: #d9b48f;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 15px;
    transition: transform .4s ease;
}

/* XÍCARA */
.xicara {
    position: absolute;
    bottom: 40px;
    left: 80px;
    width: 160px;
    height: 120px;
    transition: transform .4s ease;
}

/* Corpo */
.xicara .corpo {
    width: 160px;
    height: 100px;
    background: white;
    border-radius: 0 0 70px 70px;
    border: 4px solid #4a2f22;
}

/* Alça */
.xicara .alca {
    position: absolute;
    right: -35px;
    top: 25px;
    width: 45px;
    height: 65px;
    border: 4px solid #4a2f22;
    border-radius: 50%;
}

/* Vapor */
.vapor span {
    position: absolute;
    width: 8px;
    height: 30px;
    border-radius: 50%;
    background: #ffffff77;
    top: -40px;
    left: 60px;
    animation: vapor 2s infinite ease-in-out;
    opacity: 0;
}

.vapor span:nth-child(2) {
    left: 80px;
    animation-delay: .5s;
}

.vapor span:nth-child(3) {
    left: 100px;
    animation-delay: 1s;
}

@keyframes vapor {
    0% { transform: translateY(0); opacity: 0; }
    50% { opacity: 1; }
    100% { transform: translateY(-25px); opacity: 0; }
}

/* ANIMAÇÃO AO PASSAR O MOUSE */
.cafe-container:hover .circulo {
    transform: scale(1.07);
}

.cafe-container:hover .xicara {
    transform: translateY(-10px);
}

/* FOOTER */
footer {
    text-align: center;
    margin-top: 100px;
    padding: 20px;
    background: #4a2f22;
    color: #f3ebe2;
}
